requests~=2.32.3
aiohttp~=3.11.6
aiogram~=3.17.0
python-dotenv~=1.0.1
filetype~=1.2.0
steam~=1.4.4
binwalkpy~=0.1.0
SQLAlchemy~=2.0.40
asyncpg~=0.30.0
opencv-python-headless~=4.11.0.86
numpy~=2.2.5
pillow~=10.4.0
chepy[extras]~=7.3.0
zxing~=1.0.3
pyzbar~=0.1.9
cryptography~=41.0.7
ExifRead~=3.3.0
base58~=2.1.1